<a href="https://colab.research.google.com/github/Rahul19982022/abc/blob/main/Step_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import pickle

In [ ]:
pwd

'E:\\anime_project\\notebooks_1'

In [ ]:
os.chdir('E:\\anime_project\\')

In [ ]:
%%time
user_data = pd.read_csv('dataset//animelist.csv')

In [ ]:
anime = pd.read_csv('dataset//anime.csv')
watching_status = pd.read_csv('dataset//watching_status.csv')

In [ ]:
watching_status

In [ ]:
user_data.head()

In [ ]:
anime.head(2)

In [ ]:
anime.info()

In [ ]:
user_data.info()

In [ ]:
user_data.max()

In [ ]:
user_data[user_data['rating'] == 0]

In [ ]:
user_data.loc[user_data['rating'] == 0, 'rating'] = np.nan

In [ ]:
user_data['watching_status'].value_counts()

In [ ]:
user_data[(user_data['watching_status'] >6) | (user_data['watching_status'] == 0)]

In [ ]:
anime['episodes'] = anime['Episodes'][anime['Episodes'].str.isnumeric()].astype(int)
anime[anime['episodes'].isna()]['Episodes'].value_counts()

In [ ]:
user_data['anime_episodes'] = (user_data['anime_id'].map(anime.set_index('MAL_ID')['episodes'])).astype('float32')

In [ ]:
cond1 = ((user_data['watching_status'] >6) | (user_data['watching_status'] == 0) | (user_data['watching_status'] == 5))
cond2 = ((user_data['watched_episodes'] == 0))
cond3 = (user_data['watched_episodes'] == user_data['anime_episodes'])

user_data.loc[cond1 & cond2, 'watching_status'] = 6
user_data.loc[cond1 & cond3, 'watching_status'] = 2
user_data.loc[cond1, 'watching_status'] = 1

In [ ]:
user_data['watching_status'].value_counts().sort_index()

In [ ]:
watching_status

   status         description
0       1  Currently Watching
1       2           Completed
2       3             On Hold
3       4             Dropped
4       6       Plan to Watch

In [ ]:
watching_status.rename(columns = {' description': 'description'}, inplace = True)

In [ ]:
user_data['watching_status'] = user_data['watching_status'].map(watching_status.set_index('status')['description']).astype('category')

In [ ]:
user_data['rating'].value_counts().sort_index(ascending = False)

10.0     7144392
9.0     10235934
8.0     15422150
7.0     14244633
6.0      7543377
5.0      4029645
4.0      1845854
3.0       905700
2.0       545339
1.0       480688
Name: rating, dtype: int64

In [ ]:
user_data['rating'] = user_data['rating'].astype('float16')
user_data['watched_episodes'] = user_data['watched_episodes'].astype(np.uint16)
user_data['user_id'] = user_data['user_id'].astype(np.uint32)
user_data['anime_id'] = user_data['anime_id'].astype(np.uint16)

In [ ]:
user_data['rating'].value_counts().sort_index(ascending = False)

10.0     7144392
9.0     10235934
8.0     15422150
7.0     14244633
6.0      7543377
5.0      4029645
4.0      1845854
3.0       905700
2.0       545339
1.0       480688
Name: rating, dtype: int64

In [ ]:
user_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109224747 entries, 0 to 109224746
Data columns (total 6 columns):
 #   Column            Dtype
---  ------            -----
 0   user_id           uint32
 1   anime_id          uint16
 2   rating            float16
 3   watching_status   category
 4   watched_episodes  uint16
 5   anime_episodes    float32
dtypes: category(1), float16(1), float32(1), uint16(2), uint32(1)
memory usage: 1.5 GB

In [ ]:
user_data[user_data['watched_episodes'] > user_data['anime_episodes']]['watching_status'].value_counts(normalize = True)

Completed             0.957476
Currently Watching    0.024580
On Hold               0.006612
Plan to Watch         0.005810
Dropped               0.005521
Name: watching_status, dtype: float64

In [ ]:
user_data.loc[(user_data['watched_episodes'] > user_data['anime_episodes']), 'watched_episodes'] = \
user_data.loc[(user_data['watched_episodes'] > user_data['anime_episodes']), 'anime_episodes']

In [ ]:
user_data.head()

,user_id,anime_id,rating,watching_status,watched_episodes,anime_episodes
0,0,67,9.0,Currently Watching,1,24.0
1,0,6702,7.0,Currently Watching,4,175.0
2,0,242,10.0,Currently Watching,4,13.0
3,0,4898,NaN,Currently Watching,1,24.0
4,0,21,10.0,Currently Watching,0,NaN

In [ ]:
user_data.drop(['anime_episodes'], axis = 1, inplace = True)

In [ ]:
user_data.head()

   user_id  anime_id  rating     watching_status  watched_episodes
0        0        67     9.0  Currently Watching                 1
1        0      6702     7.0  Currently Watching                 4
2        0       242    10.0  Currently Watching                 4
3        0      4898     NaN  Currently Watching                 1
4        0        21    10.0  Currently Watching                 0

In [ ]:
user_data.to_pickle('dataset\\created_data\\user_step1.pkl')

In [ ]:
df = pd.read_pickle('dataset\\created_data\\user_step1.pkl')

In [ ]:
df.equals(user_data)

True